<a href="/coder/{{user.gh_login|escape}}" title="{{user.gh_login|escape}}"><i class="icon-signal"></i>Coder stats for {{user.gh_login|escape}}</a><br>
{% if user.name %}
  {% if user.homepage %}
    <a class="homepage" href="{{user.homepage|escape}}"><i class="icon-home"></i>{{user.name|escape}}</a>
  {% else %}
    {{user.name|escape}}
  {% endif %}
{% else %}
  {% if user.homepage %}
    <a class="homepage" href="{{user.homepage|escape}}"><i class="icon-home"></i>{{user.homepage|escape}}</a>
  {% endif %}
{% endif %}
