<pre>
{% for l in languages %}
{{ l[0] }}: #{{l[1] }}
{% endfor %}
</pre>


<ul id="github_repos">
  {% for repo in ghrepos %}
    <li>
      <h2>{{ repo.name | escape }}</h2>
      <p>{{ repo.description | escape }}</p>
      <a href="{{ repo.html_url | escape }}">Github Page</a>
    </li>
  {% endfor %}
</ul>

<ul id="coderwall_badges">
  {% for badge in cwuser.badges %}
    <li>
      <h2>{{ badge.name | escape }}</h2>
      <p>{{ badge.description | escape }}</p>
      <img src="{{ badge.badge | escape }}" alt="{{ badge.name | escape }}">
    </li>
  {% endfor %}
</ul>
