<div class="row">
  <div class="span3">
    <header><h2>User Summary</h2></header>
    <div class="row">
      <div class="span1">
        <img class="well" src="{{ user.avatar_url|escape }}" alt="{{ user.gh_login|escape }}">
      </div>
      <div class="span2">
        <ul class="vcard">
          <li><a href="{{ user.gh_html_url|escape }}" id="gh_login" class="nickname">{{ user.gh_login|escape }}</a></li>
          {% if user.name %}
            <li class="fn">{{ user.name|escape }}</li>
          {% endif %}
          {% if user.company %}
            <li class="org">{{ user.company|escape }}</li>
          {% endif %}
          {% if user.location %}
            <li class="location">{{ user.location|escape }}</li>
          {% endif %}
          {% if user.homepage %}
            <li><a href="{{ user.homepage|escape }}">Homepage</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <p>GitHubber since: {{ user.gh_created_at| date: "%h %Y" }}</p>
        <table class="table table-bordered">
        <tbody>
          <tr><td>Number of public repos</td><td>{{ user.gh_public_repos|escape }}</td></tr>
          <tr><td>Number of public gists</td><td>{{ user.gh_public_gists|escape }}</td></tr>
          <tr><td>Number of repos with code</td><td>{{ stats.all.total }}</td></tr>
          <tr><td>Number of languages across repos</td><td>{{ stats.all.languages.size }}</td></tr>
          <tr><td>Followers</td><td>{{ user.gh_followers|escape }}</td></tr>
          <tr><td>Following</td><td>{{ user.gh_following|escape }}</td></tr>
        </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <header><h2>Share Your Stats</h2></header>
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ed01f714e438a38"></script>
      </div>
    </div>
  </div>

  <div class="span9">
  {% if stats.all.total > 0 %}
    <header><h2>Programming Language Statistics</h2></header>

    <ul class="nav nav-tabs" id="languagetablinks">
    {% if stats.owned.total > 0 %}
      <li class="active"><a id="linkowned" href="#owned" data-toggle="tab">Owned ({{ stats.owned.total|escape }})</a></li>
    {% endif %}
    {% if stats.forked.total > 0 %}
      <li{% if defaulttab == 'forked' %} class="active"{% endif %}><a id="linkforked" href="#forked" data-toggle="tab">Forked ({{ stats.forked.total|escape }})</a></li>
    {% endif %}
    {% if stats.all.total > 0 %}
      <li><a id="linkall" href="#all" data-toggle="tab">All ({{ stats.all.total|escape }})</a></li>
    {% endif %}
    </ul>

    <div class="well"><div id="infovis" class="chart"></div></div>

    <div class="tab-content" id="languagetabs">
    {% for idx in stats %}{% if idx[1].total > 0 %}
    <div class="tab-pane{% if defaulttab == idx[0] %} active{% endif %}" id="{{ idx[0] }}">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Language</th>
          <th>Count</th>
          <th>Repositories</th>
        </tr>
      </thead>
      <tbody>
        {% for lang in idx[1].languages %}
          <tr>
            <td>{{ forloop.index }}</td>
            <td>{{ lang[0] }}</td>
            <td>{{ lang[1].size }}</td>
            <td>
              {% for r in lang[1] %}
                <a title="Size: {{ r.size|escape }}; Watchers: {{ r.watchers|escape }}; Forks: {{ r.forks|escape }}; Open issues: {{ r.open_issues|escape }}" href="{{ r.html_url|escape }}">{{ r.name|escape }}</a>{% if false == forloop.last %} - {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    {% endif %}{% endfor %}
    </div>

  {% else %}
    <h2>No code yet</h2>
    <p>This user hasn't added code to public Github repositories.</p>
  {% endif %}
  </div>
</div>
