<div class="row">
  <div class="span3">
    <header><h2>User Summary</h2></header>
    <div class="row">
      <div class="span1">
        <img class="well" src="{{ user.avatar_url|escape }}" alt="{{ user.gh_login|escape }}">
      </div>
      <div class="span2">
        <ul class="vcard">
          <li><a href="{{ user.gh_html_url|escape }}" id="gh_login" class="nickname">{{ user.gh_login|escape }}</a></li>
          {% if user.name %}
            <li class="fn">{{ user.name|escape }}</li>
          {% endif %}
          {% if user.company %}
            <li class="org">{{ user.company|escape }}</li>
          {% endif %}
          {% if user.location %}
            <li class="location">{{ user.location|escape }}</li>
          {% endif %}
          {% if user.homepage %}
            <li><a href="{{user.homepage|url|escape}}">{{user.homepage|host|escape}}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <p class="label label-info">GitHubber since: {{ user.gh_created_at| date: "%h %Y" }}</p>
        <table class="table table-bordered">
        <tbody>
          <tr><td>Followers</td><td>{{ user.gh_followers|escape }}</td></tr>
          <tr><td>Following</td><td>{{ user.gh_following|escape }}</td></tr>
          <tr><td>Public repos</td><td>{{ user.gh_public_repos|escape }}</td></tr>
          <tr><td>Public gists</td><td>{{ user.gh_public_gists|escape }}</td></tr>
          <tr><td>Owned repos with code</td><td>{{ user.stats.counts.owned.total }}</td></tr>
          <tr><td>Languages in owned repos</td><td>{{ user.stats.counts.owned.langcount }}</td></tr>
          <tr><td>Total forks of owned repos</td><td>{{ user.stats.counts.owned.forkcount }}</td></tr>
          <tr><td>Total watchers of owned repos</td><td>{{ user.stats.counts.owned.watchercount }}</td></tr>
        </tbody>
        </table>
        <p class="label label-info">Last data update for {{ user.gh_login|escape }}: {{ user.updated_at|date: "%Y-%m-%d" }}</p>
      </div>
    </div>

    {% if user.achievements.size > 0 %}
    <div class="row">
      <div class="span3" id="achievements">
        <header><h2>Achievements</h2></header>
        {% for a in user.achievements %}
          <button class="btn-success btn-large" title="{{a[1]}}">{{a[0]}}</button>
        {% endfor %}
      </div>
    </div>
    {% endif %}

  </div>

  <div class="span9">
  {% if user.stats.counts.all.total > 0 %}
    <header><h2>Programming Language Statistics</h2></header>

    <ul class="nav nav-tabs" id="languagetablinks">
    {% if user.stats.counts.owned.total > 0 %}
      <li class="active"><a id="linkowned" href="#owned" data-toggle="tab">Owned ({{ user.stats.counts.owned.total|escape }})</a></li>
    {% endif %}
    {% if user.stats.counts.forked.total > 0 %}
      <li{% if defaulttab == 'forked' %} class="active"{% endif %}><a id="linkforked" href="#forked" data-toggle="tab">Forked ({{ user.stats.counts.forked.total|escape }})</a></li>
    {% endif %}
    {% if user.stats.counts.all.total > 0 %}
      <li><a id="linkall" href="#all" data-toggle="tab">All ({{ user.stats.counts.all.total|escape }})</a></li>
    {% endif %}
    </ul>

    <div class="well"><div id="infovis" class="chart"></div></div>

    <div class="tab-content" id="languagetabs">
    {% for idx in user.stats.repos %}{% if idx[1].size > 0 %}
    <div class="tab-pane{% if defaulttab == idx[0] %} active{% endif %}" id="{{ idx[0] }}">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Language</th>
          <th>Count</th>
          <th>Repositories</th>
        </tr>
      </thead>
      <tbody>
        {% for lang in idx[1].languages %}
          <tr>
            <td>{{ forloop.index }}</td>
            <td>{{ lang[0] }}</td>
            <td>{{ lang[1].size }}</td>
            <td>
              {% for r in lang[1] %}
                <a title="Size: {{ r.size|escape }}; Watchers: {{ r.watchers|escape }}; Forks: {{ r.forks|escape }}; Open issues: {{ r.open_issues|escape }}" href="{{ r.html_url|escape }}">{{ r.name|escape }}</a>{% if false == forloop.last %} - {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    {% endif %}{% endfor %}
    </div>

  {% else %}
    <h2>No code yet</h2>
    <p><strong>{{ user.gh_login|escape }}</strong> hasn't added enough code to public Github repositories yet to calculate statistics for. Looks like the perfect chance to<br><br><a class="btn btn-large btn-primary" href="https://github.com/repositories/new">create something awesome</a></p>
  {% endif %}
  </div>
</div>
