<div class="row"><div class="span12">
  <div class="hero-unit" id="userform">
    <header><h1>Get your coder stats</h1></header>
    <form action="/coderstats" method="GET" id="coderstats" name="coderstats">
      <input class="username" name="ghuser" id="ghuser" placeholder="Your Github user name" required>
      <input class="button" type="submit" value="Get Stats">
    </form>
  </div>
</div></div>

<div class="row" id="indexstats">
  <div class="span4 ranking_preview">
    <header>
      <h2 class="label label-info">Top coders by languages in owned repos</h2>
    </header>
    <table class="table table-bordered">
      <thead>
        <tr><th>Coder</th><th>Count</th><th>User Info</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users_by_ownedlangs %}
          <tr>
            <td><a href="/coder/{{user.gh_login|escape}}" title="{{user.gh_login|escape}}"><img class="imgsmall" src="{{user.avatar_url|escape}}" alt="{{user.gh_login|escape}}"></a></td>
            <td>{{user.counts.owned.langcount}}</td>
            <td>{% include 'ranking_coder' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer><a href="/ranking/coders-by-language"><i class="icon-signal"></i>View Top Ranking by Languages</a></footer>
  </div>

  <div class="span4 ranking_preview">
    <header>
      <h2 class="label label-info">Top coders by forks of owned repos</h2>
    </header>
    <table class="table table-bordered">
      <thead>
        <tr><th>Coder</th><th>Count</th><th>User Info</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users_by_ownedforks %}
          <tr>
            <td><a href="/coder/{{user.gh_login|escape}}" title="{{user.gh_login|escape}}"><img class="imgsmall" src="{{user.avatar_url|escape}}" alt="{{user.gh_login|escape}}"></a></td>
            <td>{{user.counts.owned.forkcount}}</td>
            <td>{% include 'ranking_coder' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer><a href="/ranking/coders-by-forks"><i class="icon-signal"></i>View Top Ranking by Forks</a></footer>
  </div>

  <div class="span4 ranking_preview">
    <header>
      <h2 class="label label-info">Top coders by watchers of owned repos</h2>
    </header>
    <table class="table table-bordered">
      <thead>
        <tr><th>Coder</th><th>Count</th><th>User Info</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users_by_ownedwatchers %}
          <tr>
            <td><a href="/coder/{{user.gh_login|escape}}" title="{{user.gh_login|escape}}"><img class="imgsmall" src="{{user.avatar_url|escape}}" alt="{{user.gh_login|escape}}"></a></td>
            <td>{{user.counts.owned.watchercount}}</td>
            <td>{% include 'ranking_coder' %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer><a href="/ranking/coders-by-watchers"><i class="icon-signal"></i>View Top Ranking by Watchers</a></footer>
  </div>
</div>
